# Git
.git
.gitignore

# Docker
docker-compose.yml
Dockerfile
.dockerignore

# Environment
.env
backend/.env
frontend/.env

# Dependencies
node_modules
venv
backend/venv
frontend/node_modules

# Python
__pycache__
*.pyc
*.pyo
*.pyd
db.sqlite3
media/
staticfiles/

# System
.DS_Store
Thumbs.db
