
# Python
__pycache__/
*.py[cod]
*$py.class
backend/venv/
venv/
backend/env/
env/

# Environment Variables
.env
*.env
.env.local
.env.production.local
backend/.env

# Django
*.log
backend/logs/
backend/django_cache/
local_settings.py
backend/db.sqlite3
*.sqlite3
media
backend/staticfiles/

# Node
frontend/node_modules/
frontend/build/
frontend/.env.local
.DS_Store
