version: '3.8'

services:
  backend:
    build: ./backend
    container_name: backend
    image: luis-mera-backend:v1
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    volumes:
      - ./backend:/app
      - sqlite_data:/app/data
    restart: unless-stopped

  frontend:
    build: ./frontend
    container_name: frontend
    image: luis-mera-frontend:v1
    ports:
      - "3000:3000"
    environment:
      - REACT_APP_API_URL=http://localhost:8000
    depends_on:
      - backend
    restart: unless-stopped

volumes:
  sqlite_data:
