services:
  # Backend Django
  - type: web
    name: tecnicontrol-backend
    env: python
    region: oregon
    plan: free
    buildCommand: pip install -r backend/requirements.txt
    startCommand: cd backend && python manage.py migrate && python scripts/inject_retroactive_incidents.py && gunicorn config.wsgi:application --bind 0.0.0.0:$PORT
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.0
      - key: SECRET_KEY
        generateValue: true
      - key: DEBUG
        value: False
      - key: ALLOWED_HOSTS
        value: .onrender.com
      - key: VIRUSTOTAL_API_KEY
        sync: false
      - key: METADEFENDER_API_KEY
        sync: false
      - key: GOOGLE_API_KEY
        sync: false
      - key: GOOGLE_SAFE_BROWSING_KEY
        sync: false

  # Frontend React
  - type: web
    name: tecnicontrol-frontend
    env: static
    region: oregon
    buildCommand: cd frontend && npm install && npm run build
    staticPublishPath: frontend/build
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
    envVars:
      - key: REACT_APP_API_URL
        value: https://tecnicontrol-backend.onrender.com
